In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
dataset_path = 'drive/My Drive/path-to-file-in-drive-filesystem/posts.csv'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(dataset_path)
df

   post_id                         hashtags  likes_no  comments_no
0        1             trend,new,page,video        25            2
1        2  software,engineering,sw,program        11            4
2        3                         delivery         1            0
3        4              price,free,discount        11            2
4        5                              NaN        14            3
5        6                              car        90           34
6        7              cola,cocacola,drink       154           20



---

In [ ]:
df['hashtags'].str.get_dummies(sep=',').sum()

car            1
cocacola       1
cola           1
delivery       1
discount       1
drink          1
engineering    1
free           1
new            1
page           1
price          1
program        1
software       1
sw             1
trend          1
video          1
dtype: int64

In [ ]:
new_df = df.drop('hashtags', axis=1).join(df['hashtags'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('hashtags'))

In [ ]:
new_df

   post_id  likes_no  comments_no     hashtags
0        1        25            2        trend
0        1        25            2          new
0        1        25            2         page
0        1        25            2        video
1        2        11            4     software
1        2        11            4  engineering
1        2        11            4           sw
1        2        11            4      program
2        3         1            0     delivery
3        4        11            2        price
3        4        11            2         free
3        4        11            2     discount
4        5        14            3          NaN
5        6        90           34          car
6        7       154           20         cola
6        7       154           20     cocacola
6        7       154           20        drink